{% extends "root.html" %}
{% block content %}
<div class="container">
<h2>Current Plants</h2>
    <table id="plant_status_table" class="responsive-table highlight">
        <thead>
            <tr>
                {%for column in sensors[0].keys() %}
                <th>{{ column }}</th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for sensor_info in sensors %}
            <tr>
                {%for column_name, column_value in sensor_info.items()%}
                <td>{{column_value}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock content %}
